<% layout('layouts/boilerplate') %>
    <h1>All Questions</h1>
    <ul>
        <% for(let i=questions.length-1;i>=0;i--) { %>
            <% let question = questions[i] %> 
            <div class="card mb-3 border-secondary">
                <div class="card-header">
                    <div class="row d-grid d-md-flex">
                        <div class="col-11">
                            <div>
                                Submitted by <%= question.author.username %>, <%= question.author.degree %>, <%= question.author.branch %> (Batch : <%= question.author.graduationYear %>)
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="badge bg-pink">
                                Likes : <%= question.likes %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-white">
                    <h3 class="card-title"><%= question.title %></h3>
                    <p class="card-text">
                        <small class="text-light"><%= question.description %></small>
                    </p>
                    <a href="/questions/<%= question._id %>" class="btn bg-violet">View Answers</a>
                </div>
                <div class="card-footer">
                    <div>Posted at <%= question.createdAt %></div>
                    <div>Updated at <%= question.updatedAt %></div>
                </div>
            </div>
        <% } %>
    </ul>